.nav{
    display: flex;
    justify-content: space-between;
    /* padding-top: 15px; */
    background-color: beige;
}

.nav h1 {
   
        color: blueviolet;
        margin: 0;
        font-size: 30px;
        
    
}

.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.nav li {
    padding-left: 15px; 
    padding-top: 15px;
    color: blueviolet;
}

.nav a {
text-decoration: none;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 36px;
    border-right: 1px solid blueviolet;
}

.nav .nav-search  {
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.nav .nav-search button {
    
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 40px;
    border-left: 0px;
    background-color: bisque;
}